

<div class="container-fluid">
    <div class="row">
        <section ui-view="sidebar"></section>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4 bg-white">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h1 class="h2">
                    {{ isEdit ? 'Edit' : 'Create' }} Team
                </h1>
            </div>

            <form ng-submit="save($event)">
                <div class="form-row">
                    <div class="col-md-12 mb-3">
                        <label for="validationServer01">Name</label>
                        <input type="text" class="form-control" id="validationServer01" placeholder="Name" ng-model="team.name">
                    </div>
                </div>
                <button class="btn btn-success text-uppercase" type="submit"> {{ isEdit ? 'Edit' : 'Create' }}</button>
            </form>
        </main>
    </div>
</div>